<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>
	<!-- create navigation bar  -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle Navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
		</div>
	</nav>

	<!-- create html registration form -->

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offest-3">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You Have Successfully
						Registered To Our Awesome App</div>
				</div>
						<br>
						<br>
						
				<h1>Registration</h1>

				<form action="#" th:action="@{/user/do_register}" method="post" th:object="${user}">
					<div class="form-group">
						<label class="control-label" for="name"> Name </label>
						<input id="name" class="form-control" th:field="*{name}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="email"> Email </label> <input
							id="email" class="form-control" th:field="*{email}" required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="password"> Password </label> <input
							id="password" type="password" class="form-control"
							th:field="*{password}" required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="phone_number"> Phone Number </label>
						<input id="phone_number" class="form-control" th:field="*{phone_number}"
							required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="gender"> gender </label>
						<input id="gender" class="form-control" th:field="*{gender}"
							required autofocus="autofocus" />
					</div>
					
					<div class="form-group">
						<label class="control-label" for="address"> Address </label>
						<input id="address" class="form-control" th:field="*{address}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Register</button>
						<span>Already registered? <a href="/" th:href="@{/login}">Login
								Here</a>
						</span>
					</div>

				</form>

			</div>
		</div>
	</div>

</body>
</html>